@mixin featured {
    .trail__title {
        padding: 5px 10px;
        background-color:rgba(255,255,255,0.6);
        @include font($serifheadline, 600, 20, 28);
        @include box-sizing(border-box);
        width:100%;
        margin:0;
    }
}
@mixin featured--with-image {
    .trail__link {
        position:relative;
        display:block;
    }
    .trail__img {
        width:100%
    }
    .trail__title {
        position: absolute;
        bottom:0;
    }
}
@mixin thumbnail {
    .trail__link{
        overflow:hidden;
    }
    .trail__title {
        padding: 0 10px;
        @include font($serif, normal, 14, 20);
    }
}
@mixin thumbnail--with-image {
    .trail__img {
        width:30%;
        float:left;
    }
    .trail__title {
        margin-left:30%;
    }
}

.front-container-refresh {
    .trailblock ul {
        overflow:hidden;
    }
    .trail {
        padding-bottom: 0;
    }
    .trail__related {
        li {
            border:1px solid #999999;
            border-top:none;
            padding:5px 10px;
        }
        a {
            display:block;
            @include font($serif, 500, 16, 22);
        }
    }
    .trail__carousel {
        display:none;
    }
    .trail__carousel-selected {
        display:block;
    }

    /**
     * MOBILE
     */
    @media (max-width: $mobileMax) {
        .trail:nth-child(1) {
            @include featured;
        }
        .trail--with-image:nth-child(1) {
            @include featured--with-image;
        }
        .trail:nth-child(n+2) {
            @include thumbnail;
        }
        .trail--with-image:nth-child(n+2)  {
            @include thumbnail--with-image;
        }
        .trail:nth-child(n+7) {
            display:none;
        }
        .trail.trail--featured {
            @include featured;
        }
        .trail.trail--featured.trail--with-image {
            @include featured--with-image;
        }
    }

    /**
     * TABLET
     */
    @media (min-width: $tablet) and (max-width: $tabletMax) {
        .trail {
            width:50%;
            float:left;
            @include box-sizing(border-box);
        }
        .trail:nth-child(2n+1){
            border-right:6px solid #ffffff;
            clear:left;
        }
        .trail:nth-child(2n){
            border-left:6px solid #ffffff;
        }
        .trail:nth-child(-n+2){
            @include featured;
        }
        .trail--with-image:nth-child(-n+2){
            @include featured--with-image;
        }
        .trail:nth-child(n+3) {
            @include thumbnail;
        }
        .trail--with-image:nth-child(n+3) {
            @include thumbnail--with-image;
        }
        .trail:nth-child(n+11) {
            display:none;
        }
    }
    @media (min-width: $tablet) {
        .trailblock-show-more {
            display:none;
        }
    }

    /**
     * DESKTOP
     */
    @media (min-width: $desktop) {
        .trail{
            float:left;
            @include box-sizing(border-box);
        }
        .trail:nth-child(-n+2){
            width:50%;
        }
        .trail:nth-child(-n+5){
            @include featured;
        }
        .trail--with-image:nth-child(-n+5){
            @include featured--with-image;
        }
        .trail:nth-child(1) {
            border-right:6px solid #ffffff;
        }
        .trail:nth-child(2){
            border-left:6px solid #ffffff;
        }
        .trail:nth-child(3),
        .trail:nth-child(4),
        .trail:nth-child(5) {
            .trail__title {
                @include font($serif, 500, 16, 22);
            }
        }
        .trail:nth-child(n+3) {
            width:33%;
        }
        .trail:nth-child(3n+3) {
            border-right:6px solid #ffffff;
            clear:left;
        }
        .trail:nth-child(3n+4) {
            width:34%;
            border-left:6px solid #ffffff;
            border-right:6px solid #ffffff;
        }
        .trail:nth-child(3n+5) {
            border-left:6px solid #ffffff;
        }
        .trail:nth-child(n+6) {
            @include thumbnail;
        }
        .trail--with-image:nth-child(n+6) {
            @include thumbnail--with-image;
        }
        .trail:nth-child(n+15) {
            display:none;
        }
    }
}
