@(article: Article, storyPackage: List[Trail])(implicit request: RequestHeader)
@import conf.Switches.DiscussionSwitch

<div class="monocolumn-wrapper">

    <h2 class="article-zone type-1">
        <a class="zone-color" data-link-name="article section" href="@LinkTo{/@article.section}">@Html(article.sectionName)</a>
    </h2>

    <article id="article" class="article @if(article.isLive){is-live}"
        itemprop="mainContentOfPage" itemscope itemtype="@article.schemaType" role="main">

        <header class="article-head">
            @fragments.dateline(article.webPublicationDate, article.isLive)

            @fragments.headline(article.headline)

            @fragments.standfirst(article)
        </header>

        @fragments.witnessCallToAction(article)

        <div class="after-header"></div>

         @if(!article.isLive && !article.hasVideoAtTop) {
             @article.mainPicture.map{ mainPicture =>
                 @article.mainPicture(width=220).map{ smallCrop =>
                     @fragments.img(mainPicture, smallCrop)
                 }
             }
         }

         @fragments.byline(article.byline, article)

         <div class="article__container">
             @if(article.isLive) {
                 @fragments.autoUpdate()
             }

             <div class="article-body from-content-api @if(article.isLive) {live-blog}"
             itemprop="@if(article.isReview){reviewBody} else {articleBody}">


                 <h2>Possession</h2>
                 <table data-viz-type="doughnut">
                         <!--thead>
                         <tr>
                             <th data-viz-display="false" data-viz-field-type="string">Party</th>
                             <th data-viz-display="true"  data-viz-field-type="integer" data-viz-field-unit="%">Share</th>
                         </tr>
                     </thead-->
                     <tbody>
                         <tr>
                             <th data-viz-color="#19646e">Away</th>
                             <td>34</td>
                         </tr>
                         <tr>
                             <th data-viz-color="#20a111">Home</th>
                             <td>66</td>
                         </tr>
                     </tbody>
                 </table>


                 <h2>State of the parties</h2>
                 <table summary="Change on last Guardian/ICM Poll" data-viz-type="doughnut">
                     <thead>
                         <tr>
                             <th data-viz-display="false" data-viz-field-type="string">Party</th>
                             <th data-viz-display="true"  data-viz-field-type="integer" data-viz-field-unit="%">Share</th>
                             <!-- <th data-viz-display="false" data-viz-field-type="string">Change</th> -->
                         </tr>
                     </thead>
                     <tfoot>
                         <tr>
                             <td colspan="2">Source: Guardian/ICM</td>
                         </tr>
                     </tfoot>
                     <tbody>
                         <tr>
                             <th data-viz-color="#D71E0C">Labour</th>
                             <td>41</td>
                         </tr>
                         <tr>
                             <th data-viz-color="#005DB7">Conservative</th>
                             <td>29</td>
                         </tr>
                         <tr>
                             <th data-viz-color="#E1B618">Lib Dem</th>
                             <td>13</td>
                         </tr>
                         <tr>
                             <th data-viz-color="#5D00A7">Ukip</th>
                             <td>9</td>
                         </tr>
                         <tr>
                             <th data-viz-color="#B3AEB5">Others</th>
                             <td>8</td>
                         </tr>
                     </tbody>
                 </table>





                 <script>
                    //define("doughnut", [], function ( ) {
/*
                        'use strict';

                        var doughnutDemoTable = document.querySelector('[data-viz-type=doughnut]'),
                            doughnutDemoData = [];

                        for (var i=0; i < doughnutDemoTable.tBodies[0].rows.length; i++) {
                            var tableRow = doughnutDemoTable.tBodies[0].rows[i];
                            doughnutDemoData.push(
                                {
                                    "Value": +tableRow.cells[1].innerHTML,
                                    "Color": tableRow.cells[0].getAttribute('data-viz-color')
                                }
                            );
                        }
                        console.log(doughnutDemoData);



                        //var DougnutDemo = function(){

                            //this.init = function() {
                                this.displayObject = document.createElement('div');

                                var doughnutSize = 200,
                                    doughnutRadius = doughnutSize * 0.5,
                                    doughnut = d3.layout.pie().sort(null).value(function(d) { return d.Value }),
                                    arc = d3.svg.arc().innerRadius(50).outerRadius(doughnutRadius),

                                    svg = d3.select(this.displayObject)
                                            .append("svg:svg")
                                            .attr("width", doughnutSize)
                                            .attr("height", doughnutSize)
                                            .append("svg:g")
                                            .attr("transform", "translate(" + doughnutRadius + "," + doughnutRadius + ")"),

                                    arcs = svg.selectAll("path")
                                              .data(doughnut(doughnutDemoData))
                                              .enter().append("svg:path")
                                              .attr("fill", function(d, i) { return doughnutDemoData[i].Color; })
                                              .attr("d", arc)
                                              .each(function(d) { this._current = d; })
                                              .attr("transform", "rotate(-145)");

                                    svg.append('svg:text')
                                       .attr('dx', -25)
                                       .attr('dy', 20)
                                       .attr("class", "doughnut__unit")
                                       .text("%");

                                    document.querySelector('.article-body').appendChild(this.displayObject)
                               //}
                        //};

                        //return DoughnutDemo;

                    //});
                    
                    //require(['doughnut'], function(doughnut) {
                    //    doughnut.init();
                    //});*/
                 </script>
                 <style type="text/css" media="screen">
                    .doughnut__unit {
                        fill: #20a111;
                        font-size: 15px;
                    }
                 </style>

                 @BodyCleaner(article)
            </div>
        </div>

        @if(DiscussionSwitch.isSwitchedOn && article.isCommentable) {
            <div class="article__discussion article-body"></div>
        }

    </article>

    @fragments.social(article)

    @if(DiscussionSwitch.isSwitchedOn && article.isCommentable) {
        <div class="article__discussion article-body"></div>
        <div class="d-show-cta-wrapper">    
            <a class="d-show-cta js-show-discussion js-top" href="@LinkTo{/discussion/@article.shortUrlId}"
               data-is-ajax data-link-name="View all comments">
                View all comments <span class="d-commentcount speech-bubble"><span class="js-commentcount__number"></span></span>
            </a>
        </div>
    }
</div>
@if(storyPackage.nonEmpty) {
    <aside role="complementary">
        @fragments.relatedTrails(storyPackage, heading = "More on this story", visibleTrails = 5)
    </aside>
} else {
    <aside class="js-related" role="complementary"></aside>
}

<div   class="js-popular" role="complementary"></div>
